/*body {*/
/*    background-color: plum;*/
/*}*/

@media screen and (min-width: 400px) and (max-width: 991px) {
    /*mobile view*/
    body{
        margin: 10px;
        text-align: center;
        max-width: calc(100% - 20px);
        font-family: SansSerif;
    }
    .alert-info{
        background-color: #CCFFFE;
        border: 2px solid lightgray;
        min-height: 30px;
        padding: 15px 0 5px 0;
        text-align: bottom;
    }
    .nav-links {
        text-align: center;
        text-decoration: underline;
        background-color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: black;
    }

    li{
        margin: 10px;
        background-color: lightgray;
        padding: 5px;
    }

    img{
        max-width: calc(100% - 20px);
    }
    h2{
        text-align: left;
    }
    p{
        text-align: left;
    }

    footer{
        position: absolute;
        bottom: 0;
        width: 100%
        height: 2.5rem;
    }
}


@media screen and (min-width: 992px) {
    /*desktop view*/
    body{
        margin: 10px;
        text-align: center;
        max-width: calc(100% - 20px);
    }

    h1{
        float: left;
        margin-bottom: 20px;
        margin-left: 10px;
    }
    .alert-info{
        display: none;
    }
    .nav-links {

        text-decoration: underline;
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;


    }


    li{
        margin: 10px;
        padding: 5px;
        float: left;
    }

    img{
        /*max-width: calc(100% - 20px);*/
        /*clear: right;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        width: calc(100% - 20px);
        clear: left;
    }
    .main{
        float: left;
        text-align: left;
        padding: 15px;
        margin: 10px;
        width: calc(55% - 50px);

    }

    .sub-section {
        float: left;
        text-align: left;
        font-style: italic;
        padding: 15px;
        margin: 10px;
        width: calc(45% - 50px)
    }

    .sub-section>p{
        text-align: left;
        font-style: italic;
    }
/*h2{*/
/*    font-weight: bold;*/
/*}*/
    footer{
        position: absolute;
        bottom: 0;
        width: 100%
        height: 2.5rem;
    }
}


