/*body {*/
/*    background-color: plum;*/
/*}*/

@media screen and (min-width: 1px) and (max-width: 800px) {
    /*mobile view*/
    body{
        margin: 10px;
        text-align: center;
        max-width: calc(100% - 20px);
    }
    .alert-info{
        background-color: #CCFFFE;
        border: 2px solid lightgray;
        min-height: 30px;
        padding: 15px 0 5px 0;
        text-align: bottom;
    }
    .nav-links {
        text-align: center;
        text-decoration: underline;
        background-color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: black;
    }

    li{
        margin: 10px;
        background-color: lightgray;
        padding: 5px;
    }

    img{
        max-width: calc(100% - 20px);
    }
    h2{
        text-align: left;
    }
    p{
        text-align: left;
    }
}


