/*body {*/
/*    background-color: plum;*/
/*}*/

@media screen and (max-width: 800px) {
    /*mobile view*/
    body{
        margin: 10px;
        text-align: center;
        max-width: calc(100% - 20px);
    }
    .alert-info{
        background-color: #CCFFFE;
        border: 2px solid lightgray;
    }
    .nav-links {
        text-align: center;
        text-decoration: underline;
        background-color: white;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: black;
    }

    li{
        margin: 10px;
        background-color: lightgray;
    }

    img{
        max-width: calc(100% - 20px);
    }
}


